{% extends 'base/base.html' %}
{% block title %}Editar solicitud #{{ object.id }} - Refugio Animal{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Editar solicitud #{{ object.id }}</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <strong>Solicitante:</strong> {{ object.persona }}
                    {% if object.persona %}
                    &nbsp;|&nbsp; <strong>Tel:</strong> {{ object.persona.telefono }}
                    &nbsp;|&nbsp; <strong>Email:</strong> {{ object.persona.email }}
                    {% endif %}
                </div>

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-block">{{ field.errors|join:", " }}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <hr>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <a href="{% url 'adopciones:solicitud_listar' %}" class="btn btn-default">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
